@font-face {
    font-family: 'HandwritingCR';
    src: url('../fonts/HandwritingCR.woff2') format('woff2'),
    url('../fonts/HandwritingCR.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'HandwritingCR', cursive, sans-serif;
    color: #333333;
    background-color: #eee2ca;
}

h1 {
    margin-bottom: 10px;
}

ul {
    margin: 10px 0px;
    padding-left: 20px;
}

p {
    font-size: 1.5em;
}

#site-original, #site-machine, #site-manual {
    margin-left: 20px;
    max-width: 1200px;
}

#translate-bar {
    display: block;
    overflow: auto;
    background-color: white;
    padding: 10px 20px;
    font-family: sans-serif;
    border-bottom: 2px solid #B3B3B3;
}

.button {
    display: inline-block;
    float: left;
    background-color: #d9d9d9;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid black;
}

.button.inactive {
    background-color: #d9d9d9;
}

.button.active {
    background-color: #3BB3DB;
}

#manual-content {
    display: inline-block;
    float: left;
    padding-right: 5px;
}

#manual-loader {
    float: right;
    display: inline-block;
}

/* source: https://www.w3schools.com/howto/howto_css_loader.asp */ 
.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 1.5em;
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}

.aside {
    float: right;
}

#kowigae-icon {
    position: absolute;
    left: 50px;
    top: 175px;
}

#luy-icon {
    position: absolute;
    left: 50px;
    top: 600px;
}

#kuwod-icon {
    position: absolute;
    left: 320px;
    top: 275px;
}

#fam-icon {
    position: absolute;
    left: 920px;
    top: 175px;
}

#liy-icon {
    position: absolute;
    left: 920px;
    top: 600px;
}
