@font-face {
    font-family: 'HandwritingCR';
    src: url('../fonts/HandwritingCR.woff2') format('woff2'),
    url('../fonts/HandwritingCR.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'HandwritingCR', cursive, sans-serif;
    color: #333333;
    background-color: #eee2ca;
}

h1 {
    margin-bottom: 10px;
}

ul {
    margin: 10px 0px;
    padding-left: 20px;
}

p {
    font-size: 1.5em;
}

#site-original, #site-machine {
    margin-left: 20px;
    max-width: 1200px;
}

#translate-bar {
    display: block;
    overflow: auto;
    background-color: white;
    padding: 10px 20px;
    font-family: sans-serif;
    border-bottom: 2px solid #B3B3B3;
}

.button {
    display: inline-block;
    float: left;
    background-color: #d9d9d9;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid black;
}

#nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 1.5em;
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}

#kowigae-icon {
    position: absolute;
    left: 50px;
    top: 175px;
}

#luy-icon {
    position: absolute;
    left: 50px;
    top: 600px;
}

#kuwod-icon {
    position: absolute;
    left: 320px;
    top: 275px;
}

#fam-icon {
    position: absolute;
    left: 920px;
    top: 175px;
}

#liy-icon {
    position: absolute;
    left: 920px;
    top: 600px;
}
